<!DOCTYPE html>
<!--导入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="container">
        <h1>Welcome</h1>
        <!--th:text 为 Thymeleaf 属性，用于获取指定属性的值-->
       <div class="herf">
       <li><a href="http://localhost:7474/browser/" th:text="${msg}">图数据库展示</a></li> 
        <li><a href="/neo4j/AllRelation">初始化所有数据</a></li>
        <p th:text="${message}"></p>
        <li><a href="/student">学生信息展示</a></li>
        <li><a href="/teacher">教师信息展示</a></li>
       </div>
    </div>
    <script src="../scripts/index.js"></script>
</body>

</html>